{
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-env",
        {
          "modules": "commonjs"
        }]
      ],
      "plugins": [
        "add-module-exports"
      ]
    },
    "production": {
      "presets": [
        ["@babel/preset-env"
        ],
        "minify"
      ],
      "plugins": [
        "add-module-exports",
        [
          [ "@babel/runtime",
            {
              "corejs": 3
            }]
        ]
      ]
    }
  }
}
