<html>
<title>Authentication API Sample App</title>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="./pf.authn-widget.js"></script>
  <script type='application/json' src="./pf.authn-widget.map"></script>

  <link rel="stylesheet" type="text/css" href="https://assets.pingone.com/ux/end-user/0.36.1/end-user.css">
  <link rel="stylesheet" type="text/css" href="main-styles.css">

<!--  Enable the below script to use Captcha v2 -->
<!--    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>-->
    <script type="text/javascript">
        var authnWidget;
        function checkRecaptcha(token) {
            console.log('captcha response: ' + token);
            if (token.length === 0) {
                //reCaptcha not verified
                authnWidget.clearPendingState();
                console.log('did not pass captcha try again');
            } else {
                //reCaptch verified
                authnWidget.dispatchPendingState(token);
                // grecaptcha.reset();
            }
        }

        function invokeReCaptcha() {
            let token = grecaptcha.getResponse();
            if(token) {
                checkRecaptcha(token);
            }
            else {
                grecaptcha.execute();
            }
        }

        function onloadCallback() {
            authnWidget = new PfAuthnWidget("{{baseUrl}}", {
                divId: 'authnwidget',
                invokeReCaptcha: invokeReCaptcha,
                checkRecaptcha: 'checkRecaptcha',
                grecaptcha: grecaptcha
            });
            // let customLogo = 'https://www.pingidentity.com/content/dam/ping-6-2-assets/images/home/9001-home-logos/Cisco@2x.png.png'
            // authnWidget = new PfAuthnWidget("https://localhost:9031", {divId: 'authnwidget', logo: customLogo});
            initWidget(authnWidget);
        }

        /**  --------------------------------------------------
         *   In order to use Captcha, remove the code below and uncomment api.js loading
         *   --------------------------------------------------
        **/
        function load() {
            var authnWidget = new PfAuthnWidget("{{baseUrl}}", { divId: 'authnwidget' });
            // decide how to init the widget based on the mode option
            initWidget(authnWidget);
        }

        function showResponse(text) {
          var resultContainer = document.createElement('div');
          resultContainer.classList.add('card');
          resultContainer.style.overflowWrap = 'break-word';
          resultContainer.style.marginTop = '20px';
          resultContainer.style.fontFamily = 'monospace';
          resultContainer.innerHTML = "";
          resultContainer.appendChild(document.createTextNode(text));
          document.getElementById('authnwidget').appendChild(resultContainer);
        }

        /**
         * initialize the widget based on the operation mode
         */
        function initWidget(widget) {
          {{#if redirectless}}
          // "client_id" and "response_type" attributes are used to initiate OAuth 2.0 Authorization.
          // Optionally "flowType" can be set to "PfAuthnWidget.FLOW_TYPE_AUTHZ" value.
          // The default value of "flowType" is "PfAuthnWidget.FLOW_TYPE_AUTHZ" if it's not present.
          //
          // "flowType" and "user_code" attributes must be used to initiate the OAuth 2.0 Device
          // Authorization Grant user authorization.
          // "user_code" is an optional parameter
          var config = {
            // flowType: PfAuthnWidget.FLOW_TYPE_USER_AUTHZ, // user authorization requires this configuration
            // user_code: "A1B2-C3D4", // optional for user authorization
            // flowType: PfAuthnWidget.FLOW_TYPE_AUTHZ, // Optional parameter
            // client_id: '', // redirectless requires this configuration
            // response_type: 'token', // redirectless requires this configuration
            // cookieless: true, // Optional parameter to enable cookieless mode
            // stateHeaderName: 'X-Pf-Authn-Api-State', // Optional parameter to set the state header name
            onAuthorizationSuccess: function (response) {
              showResponse(JSON.stringify(response));
            },
            onAuthorizationFailed: function (response) {
              alert("Failed");
              showResponse(JSON.stringify(response));
            }
          };
          widget.initRedirectless(config);
          {{else}}
          widget.init();
          {{/if}}
        }
        window.onload = load;
    </script>
</head>

<body>
  <div class="content" style="padding: 30px">
    <div class="heading">Authentication Application</div>
    <div id="authnwidget"></div>
  </div>
</body>

</html>