<html>
<title>Authentication API Sample App</title>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="./pf.authn-widget.js"></script>
  <script type='application/json' src="./pf.authn-widget.map"></script>
  <link rel="stylesheet" type="text/css" href="https://uilibrary.ping-eng.com/end-user/end-user.css">
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script type="text/javascript">
        var authnWidget;
        function checkRecaptcha(token) {
            console.log('captcha response: ' + token);
            if (token.length === 0) {
                //reCaptcha not verified
                // alert("no pass");
                console.log('did not pass captcha try again');
            } else {
                //reCaptch verified
                authnWidget.dispatchPendingState(token);
                // grecaptcha.reset();
            }
        }

        function invokeReCaptcha() {
            let token = grecaptcha.getResponse();
            if(token) {
                checkRecaptcha(token);
            }
            else {
                grecaptcha.execute();
            }
        }

        function onloadCallback() {
            // $(document).ready(function () {
                authnWidget = new PfAuthnWidget("{{baseUrl}}", {
                    divId: 'authnwidget',
                    invokeReCaptcha: invokeReCaptcha,
                    checkRecaptcha: 'checkRecaptcha',
                    grecaptcha: grecaptcha
                });
                // let customLogo = 'https://www.pingidentity.com/content/dam/ping-6-2-assets/images/home/9001-home-logos/Cisco@2x.png.png'
                // authnWidget = new PfAuthnWidget("https://localhost:9031", {divId: 'authnwidget', logo: customLogo});
                <!--authnWidget = new PfAuthnWidget("{{baseUrl}}", { divId: 'authnwidget' });-->
                authnWidget.init();
            // });
        }


    </script>
</head>

<body>
  <div class="content" style="padding: 30px">
    <div class="heading">Authentication Application</div>
    <div id="authnwidget"></div>
  </div>
</body>
<script>

</script>

</html>
