<div class="card">
  <div class="org-logo">
    <div class="org-logo__image" style="background-image: url('{{logo}}');" alt="Company Logo"></div>
  </div>

  <h1 class="heading">Account Recovery</h1>
  <div class="text-block">
    <div class="text-block__text">You should receive an email shortly with information on how to recover your account.
      If you do not receive an email within a few minutes, please try again. You may now close this window.
    </div>
  </div>

</div>
