<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">Account Recovery</h1>
  <div class="text-block">
    <div class="text-block__text">Enter your username to reset your password or unlock your account.</div>
  </div>
  {{> errors}}
  <form class="form form--margin-small" id="AuthnWidgetForm">
    {{#if showCaptcha}}
        <div class="g-recaptcha"
             data-sitekey="{{captchaSiteKey}}"
             data-callback="{{checkRecaptcha}}"
             data-size="invisible"
             id="invisibleRecaptchaId">
        </div>
    {{/if}}
    <div class="float-label">
      <input type="text" class="text-input float-label__input" name="username" placeholder="Username" autofocus />
      <label class="float-label__label" for="username">Username</label>
    </div>
    {{#with _links as |actions|}}
    {{#if recoverUsername}}
    <div class="text-block text-block--small">
      <a href="#" data-actionid="recoverUsername">Trouble With Username?</a>
    </div>
    {{/if}}
    {{/with}}
    <div class="button-set">
      <button id="submit" type="submit" data-actionid="checkAccountRecoveryUsername" class="button button--primary brand-primary-bg" disabled>
        Send Request
      </button>
      <button data-actionId="cancelAccountRecovery" class="button">Cancel</button>
    </div>
  </form>
</div>
