<div class="card">
    <div class="org-logo">
        <img class="org-logo__image" src="https://uilibrary.ping-eng.com/end-user/ping-logo.svg" alt="Company Logo"/>
    </div>
    <h1 class="heading">Recover User Name</h1>
    <div class="text-block">
        <div class="text-block__text">Enter the email associated with the username to be recovered.</div>
    </div>
    {{> errors}}
    <form class="form form--margin-small" id="AuthnWidgetForm">
        <div class="float-label">
            <input type="text" class="text-input float-label__input" name="username" placeholder="UserName"/>
            <label class="float-label__label" for="username">User Name</label>
        </div>
        <div class="text-block text-block--small">
            <a href="#" data-actionid="recoverUsername">Recover User Name?</a>
        </div>
        <div class="button-set">
            <button data-actionid="checkAccountRecoveryUsername" class="button button--primary brand-primary-bg">
                Recover
            </button>
            <button data-actionId="cancelAccountRecovery" class="button">Cancel</button>
        </div>
    </form>
</div>
