<div class="card">
    <div class="org-logo"><img class="org-logo__image"
                               src="ping-logo.svg" alt="Company Logo" /></div>
    <div class="icon-feedback icon-feedback--success"><img
            src="ghost-success.svg"
            class="icon-feedback__icon" alt="" />
        <p class="icon-feedback__label">Thanks for your request. If your email address is verified, you'll receive an email with your username.</p>

</div>
</div>
