<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  {{> errors}}
  <h1 class="heading-text centered-text icon-heading">
     <svg viewBox="0 0 24 24" role="presentation" style="width: 32px; height: 32px;">
      <path d="M16,18H7V4H16M11.5,22A1.5,1.5 0 0,1 10,20.5A1.5,1.5 0 0,1 11.5,19A1.5,1.5 0 0,1 13,20.5A1.5,1.5 0 0,1 11.5,22M15.5,1H7.5A2.5,2.5 0 0,0 5,3.5V20.5A2.5,2.5 0 0,0 7.5,23H15.5A2.5,2.5 0 0,0 18,20.5V3.5A2.5,2.5 0 0,0 15.5,1Z"
      style="fill: rgb(61, 69, 77);"/>
     </svg>
    <span class="inline-icon">Authentication Code</span></h1>
  <div class="text-block">
    <div id="scan-message" class="text-block--overflow-wrap">
      Scan the QR Code displayed to finish authentication.
    </div>
  </div>
  <div class="text-block" data-id="textblock">
    <canvas id="qrcode" class="qrcode"></canvas>
  </div>
  <div class="tile-selector tile-selector--stacked">
    <form class="form" id="AuthnWidgetForm">
      <div class="stack stack--small" data-id="stack">
         <div class="text-block" data-id="textblock">
            <div class="text-block--overflow-wrap">Authentication Code:
            </div>
          </div>
          <div class="text-block" data-id="textblock">
            <div class="text-block--overflow-wrap">{{code}}</div>
          </div>       
      </div>      
      <div class="text-block" data-id="textblock">
        <div class="text-block--overflow-wrap">
          <div class="stack" data-id="stack">         
            <a tabindex="0" data-actionId="cancelAuthentication" target="_self" class="anchor">Cancel</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
