<div class="step-link step-link--back" style="margin: 0; text-align: left;">
  <div style="margin: 0; text-align: left;">
    <button id="changeDevice" class="button back-button">
      <span class="pingicon-left"></span>
    </button>
  </div>
</div>