<div class="step-link step-link--back" style="margin: 0; text-align: left;">
  <div style="margin: 0; text-align: left;">
    <div class="back-button" id="changeDevice"><span
            class="pingicon-left"></span></div>
  </div>
</div>