<div class="card">
    <div class="org-logo">
        <div class="org-logo__image" style="background-image: url('{{logo}}');" alt="Company Logo"></div>
    </div>
    <h1 class="heading">Account Recovery</h1>
    <div class="text-block">
        <div class="text-block__text">You have cancelled the attempt to recovery your account. Please close this window.</div>
    </div>
</div>

