<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">Change Password</h1>
  <div class="text-block text-block--small">
    <div class="text-block__text">To change your password, please access the password management system.</div>
  </div>

  <div class="button-set">
    <form action="{{passwordManagementUrl}}">
        <input type="submit" value="Continue to password management system" class="button button--primary brand-primary-bg"/>
    </form>
  </div>
</div>