<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  <form class="form form--spacing-lg" id="AuthnWidgetForm">
    <div class="stack stack--small">
      <h1 id="requiredHeader" class="heading" data-id="heading">
        {{#if errorDetails}}
          Sign On Retry
        {{else}}
          Sign On
        {{/if}}
      </h1>
      <h4 id="requiredDescription" class="heading heading--4 text-block" data-id="heading">
        {{#if errorDetails}}
          We had a problem on our side. To retry credential verification, please scan the below QR code, or if your wallet is on this device, click the button underneath to open wallet.
        {{else}}
          Please scan the below QR code, or if your wallet is on this device, click the button underneath to open wallet.
        {{/if}}
      </h4>
    </div>
    <div id="qrCodeBlock" class="text-block" style="display: block">
      <img id="qrCode" height="150px" width="150px" alt="QR Code" src=""/>
    </div>
    <div class="text-block" data-id="textblock">
      <div class="text-block--overflow-wrap">
        <div class="stack" data-id="stack">
          <div>
              <button id="appOpenUrl" class="button file-input--button button--primary brand-primary-bg" type="button">Open Wallet</button>
          </div>
          <a tabindex="0" data-actionId="cancel" target="_self" class="anchor">Cancel</a>
        </div>
      </div>
    </div>
  </form>
</div>