<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">Change Password</h1>
  <div class="text-block text-block--small">
    <div class="text-block__text">Please enter your current credentials and authenticate with additional factors before changing password.</div>
  </div>
  {{> errors}}
  {{> spinner}}
  <form class="form form--spacing-lg" id="AuthnWidgetForm">
    {{renderRiskUI}}
    <div class="stack stack--small">
      <div class="float-label">
        <input type="text" class="text-input float-label__input required" name="username" placeholder="Username"
          value="{{username}}" />
        <label class="float-label__label" for="username13">Username</label>
      </div>
      <div class="stack stack--small">
        <div class="float-label">
          <input type="password" class="text-input float-label__input required" name="password"
            placeholder="Current Password" />
          <label class="float-label__label" for="password">Current Password</label>
        </div>
      </div>
    </div>
  </form>
  <div class="button-set">
    <button id="submit" type="submit" data-actionId="checkCurrentCredentials" class="button button--primary brand-primary-bg"
      disabled>Submit</button>
    <button data-actionId="cancelPasswordChange" class="button">Cancel</button>
  </div>
</div>