<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">Session ID Cookie Not Found</h1>
  <form class="form form--margin-small" id="AuthnWidgetForm">
    <div class="text-block">
      <div class="icon-feedback icon-feedback--error">
        <span class="icon-feedback__icon pingicon-ghost-error icon-feedback--error"></span>
      </div>
      <div class="text-block--overflow-wrap">
        A Session ID cookie was not found. Please configure the risk adapter according to
        <a href="https://github.com/pingidentity/pf-authn-js-widget/blob/master/docs/riskAuthentication.md" target="_blank">
          the provided instructions</a>. This state is for mobile native applications that do profiling external to PingFederate.
      </div>
    </div>
  </form>
</div>