<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  {{> errors}}
  {{> spinner}}
  <h1 class="heading">Profiling Device</h1>
  {{#ifEq profilingInfo.profilingType "IDW"}}
  <div data-profilingtype="{{profilingInfo.profilingType}}" data-profilingTimeout="{{profilingInfo.deviceProfilingTimeout}}">
    <script type="text/javascript" src="{{profilingInfo.deviceProfilingScriptUrl}}"></script>
  </div>
  {{/ifEq}}
</div>