<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  {{> errors}}
  <h1 class="heading-text centered-text icon-heading">
    <svg viewBox="0 0 24 24" role="presentation">
      <path d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z"/>
    </svg>
    <span class="inline-icon">Email</span></h1>
  <div class="text-block">
    <div class="text-block--overflow-wrap">
      Enter the passcode that you received to complete the email pairing.
    </div>
  </div>
  <div class="tile-selector tile-selector--stacked">
    <form class="form" id="AuthnWidgetForm">
      <div class="stack stack--small" data-id="stack">
        <div class="text-input__icon">
          <input id="otp" name="otp" type="text" class="text-input text-input--primary input--otp required"
                 maxlength="{{otpLength}}" value=""/>
        </div>
      </div>
      <div class="form-aside">
        <div class="stack" data-id="stack">
          <div class="stack stack--small" data-id="stack">
            <div class="text-block" data-id="textblock">
              <div class="text-block--overflow-wrap">
                Email sent to:
              </div>
            </div>
            <div class="text-block" data-id="textblock">
              <div class="text-block--overflow-wrap">
                {{email}}
              </div>
            </div>
          </div>
          <div class="stack stack--small" data-id="stack">
            <div>
              <button class="button file-input--button button--tertiary" data-id="button"
                      data-actionId="resendOtp" type="button">
                Resend
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-block" data-id="textblock">
        <div class="text-block--overflow-wrap">
          <div class="stack" data-id="stack">
            <div>
              <button id="submit" data-actionId="activateEmailDevice" type="submit"
                      class="button button--primary brand-primary-bg">
                Finish
              </button>
            </div>
            <a tabindex="0" data-actionId="cancelDevicePairing" target="_self" class="anchor">Cancel</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
