<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  {{> errors}}
  <h1 class="heading-text centered-text icon-heading">
    <svg viewBox="0 0 24 24" role="presentation">
      <path d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z"/>
    </svg>
    <span class="inline-icon">Email</span></h1>
  <div class="text-block">
    {{#if allowedValue}}
      <div class="text-block--overflow-wrap">Passcodes will be sent to the following email address:</div>
    {{else}}
      <div class="text-block--overflow-wrap">Enter the email you would like to receive authentication codes with.</div>
    {{/if}}
  </div>
  <div class="tile-selector tile-selector--stacked">
    <form class="form" id="AuthnWidgetForm">
      <div class="stack stack--small" data-id="stack">
        <div class="text-input__icon">
          <input id="email" type="email" name="email" class="text-input text-input required"
                 value="{{allowedValue}}" {{#if allowedValue}} readonly="readonly" {{/if}} />
        </div>
      </div>
      <div id="allowedValue" data-velocity-variable="{{allowedValue}}"></div>
      <div class="text-block" data-id="textblock">
        <div class="text-block--overflow-wrap">
          <div class="stack" data-id="stack">
            <div>
              <button id="submit" data-actionId="submitEmailTarget" type="submit"
                      class="button button--primary brand-primary-bg">
                Next
              </button>
            </div>
            <a tabindex="0" data-actionId="cancelDevicePairing" target="_self" class="anchor">Cancel</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
