{{#if userMessage}}
<div class="feedback feedback--error">
  <div class="feedback__message">
    <div>
      <img class="feedback__icon" src="{{error}}" alt="Error" />
      {{userMessage}}
    </div>
  </div>
</div>
{{/if}}