{{#if errorMsg}}
<div class="feedback feedback--error">
  <div class="feedback__message">
    <ul>
        <div>
          <img class="feedback__icon" src="{{error}}" alt="Error" />
          {{errorMsg}}
        </div>
    </ul>
  </div>
</div>
{{/if}}
