{{#if userMessage}}
<div class="feedback feedback--error" data-id="feedback">
  <span class="feedback__icon pingicon-error-triangle"></span>
  <div class="feedback__message">
    {{userMessage}}
  </div>
</div>
{{/if}}