{{#if userMessage}}
<div class="feedback feedback--error">
  <img class="feedback__icon" src="https://uilibrary.ping-eng.com/end-user/error.svg" alt="Error" />
  <div class="feedback__message">

      {{#each userMessage}}
          <div>{{this}}</div>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}
