{{#if code}}
<div class="feedback feedback--error">
  <img class="feedback__icon" src="error.svg" alt="Error" />
  <div class="feedback__message">
    {{message}}

    {{userMessage}}

    {{details}}
  </div>
</div>
{{/if}}
