{{#if userMessages}}
  <div class="feedback feedback--error"><img
          class="feedback__icon" src="{{error}}"
          alt="Error"/>
    <div class="feedback__message">
    {{#each userMessages as |userMessage|}}
      <span>{{userMessage}}</span>
    {{/each}}
    </div>
  </div>
{{/if}}