<div class="card">
    <div class="org-logo">
        <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
    </div>
    <div class="icon-feedback icon-feedback--error">
        <img src="https://assets.pingone.com/ux/end-user/ghost-error.svg"
             class="icon-feedback__icon" alt="" />
        <p class="icon-feedback__label">Error</p>
    </div>
    <div class="feedback feedback--error">
        <img class="feedback__icon" src="{{error}}" alt="Error" />
        <div class="feedback__message">
            <div>{{userMessage}}</div>
        </div>
    </div>

</div>



