<div class="card">
    <div class="org-logo">
        <div class="org-logo__image" style="background-image: url('{{logo}}');" alt="Company Logo"></div>
    </div>
    <div class="icon-feedback icon-feedback--error">
        <img src="https://assets.pingone.com/ux/end-user/ghost-error.svg"
             class="icon-feedback__icon" alt="" />
        <p class="icon-feedback__label">Error</p>
    </div>
    <div class="feedback feedback--error">
        <img class="feedback__icon" src="{{error}}" alt="Error"/>
        <div class="feedback__message">
            Something Went Wrong.
        </div>
    </div>
</div>

