<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  <form class="form form--spacing-lg idv-form" id="AuthnWidgetForm">
    <div class="stack stack--small">
      <h1 id="requiredHeader" class="heading" data-id="heading">
        {{#if errJson}}
          Sorry, Something Went Wrong
        {{else}}
          Verification Required
        {{/if}}
      </h1>
      <h4 id="requiredDescription" class="heading heading--4 text-block" data-id="heading">
        {{#if errJson}}
          We had a problem on our side. Scan the QR code using your mobile device's camera and compare the verification code to the one shown on your device. Select Cancel to send a web link via text or email.
        {{else}}
          Click on the web link sent to your mobile device or scan the QR code using your mobile device's camera. Compare the verification code to the one shown on your device.
        {{/if}}
      </h4>
      <h1 id="startedHeader" class="heading" data-id="heading" style="display: none">Verification Started</h1>
      <h4 id="startedDescription" class="heading heading--4 text-block" data-id="heading" style="display: none">
        Follow the instructions on your mobile device to complete the verification process. Scan the QR code to resume the process. Select Cancel to start over.
      </h4>
    </div>
    <div id="qrCodeBlock" class="text-block" style="display: none">
      <img id="qrCode" height="150px" width="150px" alt="QR Code" src=""/>
    </div>
    <div class="text-block stack stack--small" data-id="textblock">
      <div class="text-block stack stack--xsmall">
        <div class="heading heading--4 text-block" data-id="heading">Verification code:</div>
        <div id="verificationCode" class="heading" data-id="heading">
          {{verificationCode}}
        </div>
      </div>
    </div>
    <div class="text-block">
      <a tabindex="0" id="retryVerification" target="_self" class="anchor">Cancel</a>
    </div>
  </form>
</div>