<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  <form class="form form--spacing-lg" id="AuthnWidgetForm">
    <div class="stack stack--small">
      <h1 id="header" class="heading" data-id="heading">Verification Requested</h1>
      <h4 id="description" class="heading heading--4 text-block" data-id="heading">
        Click the button below to begin the identity verification process.
      </h4>
    </div>
    <button id="beginbtn" class="button button--primary" type="button">
      Begin Verification
    </button>
    <div class="text-block">
      <a tabindex="0" id="cancelAuthentication" target="_self" class="anchor">Cancel</a>
    </div>
  </form>
</div>