<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <form class="form form--spacing-lg" id="AuthnWidgetForm">
    <div class="icon-feedback icon-feedback--timeout icon-feedback--warning">
      <span class="icon-feedback__icon pingicon-ghost-timed-out"></span>
      <p class="icon-feedback__label">
        <p class="icon-feedback--warning">Timed Out</p>
      </p>
    </div>
    <div class="text-block" data-id="textblock">
      <div class="text-block--overflow-wrap">
        <div class="stack" data-id="stack">
          <div>
              <button data-actionId="retryVerification" class="button file-input--button button--primary brand-primary-bg" type="button">Retry</button>
          </div>
          <a tabindex="0" id="cancelAuthentication" target="_self" class="anchor">Cancel</a>
        </div>
      </div>
    </div>
  </form>
</div>