<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  <form class="form form--spacing-lg" id="AuthnWidgetForm">
    <div class="stack stack--small">
      <h1 class="heading" data-id="heading">Verification Required</h1>
      <h4 id="requiredDescription" class="heading heading--4 text-block" data-id="heading">
        Download the {{verifyAppName}} app for iOS or Android, then scan this QR code or enter the verification code to verify yourself.
      </h4>
      <h4 id="errorDescription" class="heading heading--4 text-block" data-id="heading" style="display: none">
        To retry verification, scan the QR code or enter the verification code.
      </h4>
    </div>
    <div id="errorBlock" class="feedback feedback--error" style="display: none; justify-content: center" data-id="feedback">
      <span class="feedback__icon pingicon-error-triangle"></span>
      <div id="errorMessage" style="width: auto" class="feedback__message">Error Message</div>
    </div>
    <div id="qrCodeBlock" class="text-block" style="display: none">
      <img id="qrCode" height="150px" width="150px" alt="QR Code" src=""/>
    </div>
    <div class="text-block stack stack--small" data-id="textblock">
      <div class="text-block stack stack--xsmall">
        <div class="heading heading--4 text-block" data-id="heading">Verification code:</div>
        <div id="verificationCode" class="heading" data-id="heading">
          {{verificationCode}}
        </div>
      </div>
      <button id="copy" class="button button--tertiary">Copy</button>
    </div>
    <div class="text-block">
      <div class="text-block--overflow-wrap">
        <a tabindex="0" data-actionId="cancelAuthentication" target="_self" class="anchor">Cancel</a>
      </div>
    </div>
  </form>
</div>