<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <div class="icon-feedback icon-feedback--timeout  icon-feedback--error">
    <span class="icon-feedback__icon pingicon-ghost-error"></span>
    <p class="icon-feedback__label">
      <p class="icon-feedback--error">Verification Failed</p>
    </p>
  </div>
  <div class="text-block text-block--small" data-id="textblock">
    <div id="errorMessage" class="text-block--overflow-wrap">Error Message</div>
  </div>
  <div class="text-block" data-id="textblock">
    <div class="text-block--overflow-wrap">
      <a tabindex="0" data-actionId="cancelAuthentication" target="_self" class="anchor">Cancel</a>
    </div>
  </div>
</div>