<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <div class="icon-feedback icon-feedback--timeout  icon-feedback--success">
    <span class="icon-feedback__icon pingicon-ghost-success"></span>
    <p class="icon-feedback__label">
      <p class="icon-feedback--success">Verified</p>
    </p>
  </div>
</div>