<div class="card">
    <div class="org-logo">
        <div class="org-logo__image" style="background-image: url('{{logo}}');" alt="Company Logo"></div>
    </div>
    <h1 class="heading">Sign On</h1>
    <div class="text-block">
        <div class="text-block__text">
          {{#if previouslySubmittedIdentifiers.length}}
            Choose An Account
          {{/if}}
        </div>
    </div>
  {{> errors}}
  {{> spinner}}
{{#if previouslySubmittedIdentifiers.length}}
    <ul id="existingAccountsSelectionList" class="identifier-first__account-list">
      {{#each previouslySubmittedIdentifiers}}
          <li class="identifier-first__account-item">
              <div data-idfirstaction="submitIdentifier" class="identifier-first__account-name" data-identifier="{{this}}">
                {{this}}
              </div>
              <div data-idfirstaction="clearIdentifier"
                   data-identifier="{{this}}" class="identifier-first__remove-account">
              </div>
          </li>
      {{/each}}
    </ul>
{{/if}}

    <form class="form form--margin-small" id="AuthnWidgetForm">
        <div class="float-label">
            <input type="text" class="text-input float-label__input" name="identifier"  autofocus />
            <label class="float-label__label" for="identifier">Username</label>
        </div>
        <div class="button-set">
            <button id="submit" type="submit" data-actionid="submitIdentifier" class="button button--primary brand-primary-bg" disabled>
                Next
            </button>
            <button data-actionId="cancelIdentifierSubmission" class="button">Cancel</button>
        </div>
    </form>
</div>
