<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">Identifier First</h1>
  <div class="text-block">
    <div class="text-block__text">An identifier is required for authentication to proceed.</div>
  </div>
  <form class="form form--margin-small" id="AuthnWidgetForm">
    <div class="float-label">
      <input type="text" class="text-input float-label__input" name="identifier" placeholder="Identifier" autofocus />
      <label class="float-label__label" for="identifier">Identifier</label>
    </div>
    <div class="button-set">
      <button data-actionid="submitIdentifier" class="button button--primary brand-primary-bg">
        Continue
      </button>
      <button data-actionId="cancelIdentifierSubmission" class="button">Cancel</button>
      //TODO - Clear Identifier
    </div>
  </form>
</div>
