<form class="form form--margin-small" id="AuthnWidgetForm">
  <div class="float-label">
    <input id="identifier" type="text" class="text-input float-label__input required" name="identifier" />
    <label class="float-label__label" for="identifier">Username</label>
  </div>
  <div class="button-set">
    <button id="submit" type="submit" data-actionid="submitIdentifier" class="button button--primary brand-primary-bg"
      disabled>
      Next
    </button>
    <button data-actionId="cancelIdentifierSubmission" class="button">Cancel</button>
  </div>
</form>