<div class="card">
    <div class="org-logo">
        <div class="org-logo__image" style="background-image: url('{{logo}}');" alt="Company Logo"></div>
    </div>
    <h1 class="heading">Sign On</h1>
    <div class="text-block">
        <div class="text-block__text">Please enter your username</div>
    </div>
  {{> errors}}
  {{> spinner}}
    <form class="form form--margin-small" id="AuthnWidgetForm">
        <div class="float-label">
            <input type="text" class="text-input float-label__input" name="identifier"  autofocus />
            <label class="float-label__label" for="identifier">Username</label>
        </div>
        {{#each previouslySubmittedIdentifiers}}
            <div  class="requirement">
                    <span data-idfirstaction="submitIdentifier" data-identifier="{{this}}" class="requirement__name">{{this}}</span>
                <img data-idfirstaction="clearIdentifier"
                     data-identifier="{{this}}"
                        class="requirement__icon"
                        src="https://assets.pingone.com/ux/end-user/0.10.0/icons/ghost-stopped.svg"
                        alt="Yes" />
            </div>

        {{/each}}
        <div class="button-set">
            <button id="submit" type="submit" data-actionid="submitIdentifier" class="button button--primary brand-primary-bg" disabled>
                Next
            </button>
            <button data-actionId="cancelIdentifierSubmission" class="button">Cancel</button>
        </div>
    </form>
</div>
