<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  <h1 class="heading">Loading...</h1>
  <div id="spinnerId" style="display:block">
    <img class="spinner" src="{{spinner}}" alt=""/>
  </div>
</div>