<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  <h1 class="heading">MFA Failed!</h1>
  {{> errors}}
  <form class="form form--margin-small" id="AuthnWidgetForm">
    <button data-actionId="cancelAuthentication" class="button">Cancel</button>
  </form>
</div>