<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  {{> errors}}
  <h1 class="heading">Setup MFA</h1>
  <div class="text-block">
    <div class="text-block__text">To enhance the security of your account, you will need to enroll in multi-factor
      authentication (MFA). You will receive security codes via email or text message that you will use to authenticate
      with.
    </div>
  </div>
  <div class="tile-selector tile-selector--stacked">
    <form class="form form--margin-small" id="AuthnWidgetForm">
      <div class="text-block" data-id="textblock">
        <div class="text-block--overflow-wrap">
          <div class="stack" data-id="stack">
            <div>
              <button id="submit" data-actionId="setupMfa" type="submit"
                      class="button button--primary brand-primary-bg">
                Setup
              </button>
            </div>
            {{#if allowSkipMfa}}
              <a tabindex="0" data-actionId="skipMfa" target="_self" class="anchor">Skip</a>
            {{else}}
              <a tabindex="0" data-actionId="cancelAuthentication" target="_self" class="anchor">Cancel</a>
            {{/if}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
