<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">Change Password</h1>
  <div class="text-block text-block--small">
    <div class="text-block__text">Please enter your current password and verify your new password.</div>
  </div>
  {{> errors}}
  {{> spinner}}
  <form class="form form--spacing-lg" id="AuthnWidgetForm">
    {{#if showCaptcha}}
        <div class="g-recaptcha"
             data-sitekey="{{captchaSiteKey}}"
             data-callback="{{checkRecaptcha}}"
             data-size="invisible"
             id="invisibleRecaptchaId">
        </div>
    {{/if}}

    <div class="stack stack--small">
      <div class="float-label">
        <input type="text" class="text-input float-label__input" name="username" placeholder="Username"  value="{{username}}" autofocus />
        <label class="float-label__label" for="username13">Username</label>
      </div>
      <div class="stack stack--small">
        <div class="float-label">
          <input type="password" class="text-input float-label__input" name="existingPassword"
            placeholder="Current Password" />
          <label class="float-label__label" for="existingPassword">Current Password</label>
        </div>
        <div class="float-label">
          <input type="password" id="newpassword" class="text-input float-label__input" name="newPassword"
            placeholder="Enter New Password" />
          <label class="float-label__label" for="newpassword">Enter New Password</label>
          {{> password_requirements}}
        </div>
        <div class="float-label">
            <input type="password" id="verifypassword" class="text-input float-label__input" name="verifyPassword"
                   placeholder="Verify New Password" />
            <label class="float-label__label" for="verifypassword">Verify New Password</label>
        </div>
      </div>
    </div>
  </form>
  <div class="button-set">
    <button id="submit" type="submit" data-actionId="checkNewPassword" class="button button--primary brand-primary-bg" disabled>Submit</button>
    <button data-actionId="cancelPasswordChange" class="button">Cancel</button>
  </div>
</div>
