<div class="card">
    <div class="org-logo">
        <img class="org-logo__image" src="https://uilibrary.ping-eng.com/end-user/ping-logo.svg" alt="Company Logo"/>
    </div>
    <h1 class="heading">New Password Recommended</h1>
    <div class="text-block">
        <div class="text-block__text">New Password Recommended.</div>
    </div>
    <form class="form form--margin-small" id="AuthnWidgetForm">
        <div class="button-set">
            <button data-actionId="continueAuthentication" class="button">Continue</button>
            <button data-actionId="initiatePasswordChange" class="button">Change Password</button>
        </div>
    </form>
</div>
