<div class="card">
    <div class="org-logo">
        <img class="org-logo__image" src="https://uilibrary.ping-eng.com/end-user/ping-logo.svg" alt="Company Logo"/>
    </div>
    <h1 class="heading">Password Expiring</h1>
    <div class="text-block">
        <div class="text-block__text">Your password will expire in ???? days.
            Would you like to change it now? </div>
    </div>
    <form class="form form--margin-small" id="AuthnWidgetForm">
        <div class="button-set">
            <button data-actionId="initiatePasswordChange" class="button">Change Password</button>
            <button data-actionId="continueAuthentication" class="button">Change it later</button>
        </div>
    </form>
</div>
