<div class="card">
    <div class="org-logo"><img class="org-logo__image"
                               src="https://uilibrary.ping-eng.com/end-user/ping-logo.svg" alt="Company Logo" /></div>
    <h1 class="heading">Change Password</h1>
    <div class="text-block text-block--small">
        <div class="text-block__text">Enter the required
            information below.</div>
    </div>
    {{> errors}}
    <form class="form form--spacing-lg" id="AuthnWidgetForm">
        <div class="stack stack--small">
            <div class="float-label"><input type="text"
                                            class="text-input float-label__input"
                                            name="username"
                                            placeholder="Username" /><label
                    class="float-label__label"
                    for="username13">Username</label></div>

        <div class="stack stack--small">
            <div class="float-label"><input type="password"
                                            class="text-input float-label__input"
                                            name="existingPassword"
                                            placeholder="Current Password" /><label
                    class="float-label__label"
                    for="existingPassword">Current Password</label></div>
            <div class="float-label"><input type="password"
                                            class="text-input float-label__input"
                                            name="newPassword"
                                            placeholder="Verify New Password" /><label
                    class="float-label__label"
                    for="password">New
                Password</label></div>
        </div><button data-actionId="checkNewPassword"
            class="button button--primary brand-primary-bg"
            >Save</button>
    </form>
    <div class="buttonset">
    <div class="text-block text-block--small">
        <div class="text-block__text">Already have an
            account? <a href="#">Sign in</a></div>
    </div>
    <button data-actionId="cancelPasswordChange" class="button">Cancel</button>
    </div>
</div>
