<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">Password Expiring</h1>
  <div class="text-block">
    <div class="text-block__text">Your password will expire {{daysToExpireMsg}}.
      Would you like to change it now? </div>
  </div>
  <form class="form form--margin-small" id="AuthnWidgetForm">
    <div class="button-set">
      <button data-actionId="initiatePasswordChange" class="button">Change Password</button>
      <button data-actionId="continueAuthentication" class="button">Change It Later</button>
    </div>
  </form>
</div>