<div class="card">
  {{> back_button}}
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  <form class="form" id="AuthnWidgetForm">
    {{> errors}}
    <div class="stack stack--small" data-id="stack">
      {{> device_selection_header headerEnd=' Authentication'}}
    </div>
    <div class="float-label">
      <input type="text" class="text-input float-label__input required" id="otp" name="otp" placeholder="passcode" maxlength="6" autofocus/>
      <label class="float-label__label" for="otp">Passcode</label>
    </div>
    {{> device_selection_information}}
    <button id="submit" data-actionId="checkOtp" type="submit" class="button button--primary brand-primary-bg" disabled>
      Sign On
    </button>
    <div class="text-block" data-id="textblock">
      <div class="text-block--overflow-wrap">
        <a tabindex="0" data-actionId="cancelAuthentication" target="_self" class="anchor">
          Cancel</a>
      </div>
    </div>
  </form>
</div>
