<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <div class="icon-feedback icon-feedback--error">
    <span class="icon-feedback__icon pingicon-ghost-error icon-feedback--error"></span>
    <div class="icon-feedback__label">
      <p class="icon-feedback__label">Error</p>
    </div>
  </div>
  <div class="text-block text-block--small">
    <div class="text-block__text">{{userMessage}}</div>
  </div>
  <div class="text-block" data-id="textblock">
    <div class="text-block--overflow-wrap">
      <div class="stack" data-id="stack">
        <div>
            <button data-actionId="restart" class="button file-input--button button--primary brand-primary-bg" type="button">Retry</button>
        </div>
      </div>
    </div>
  </div>
</div>