<div class="card">
    <div class="org-logo"><img class="org-logo__image"
                               src="ping-logo.svg" alt="Company Logo" /></div>
    <h1 class="heading">Change Password</h1>
    <form class="form" id="AuthnWidgetForm">
        <div class="float-label"><input type="password"
                                        class="text-input float-label__input text-input--success"
                                        id="newPwD4" name="newPwD4"
                                        placeholder="New Password"
                                        value="eightPassword" /><label
                class="float-label__label" for="newPwD4">New
            Password</label>
            <div class="tooltip">
                <h4 class="heading heading--4">Minimum
                    Password Requirements:</h4>
                <div class="requirements">
                    <div class="requirement"><img
                            class="requirement__icon"
                            src="success.svg"
                            alt="Yes" /><span
                            class="requirement__name">8
                            characters</span></div>
                    <div class="requirement"><img
                            class="requirement__icon"
                            src="incomplete.svg"
                            alt="No" /><span
                            class="requirement__name">At
                            least 1 special character</span>
                    </div>
                    <div class="requirement"><img
                            class="requirement__icon"
                            src="success.svg"
                            alt="Yes" /><span
                            class="requirement__name">1
                            UPPERCASE Character</span></div>
                    <div class="requirement"><img
                            class="requirement__icon"
                            src="incomplete.svg"
                            alt="No" /><span
                            class="requirement__name">1
                            number (0-9)</span></div>
                </div>
            </div>
        </div>
        <div class="button-set">
        <button data-actionId="checkPasswordReset"
            class="button button--primary brand-primary-bg">Save</button>
        <button data-actionId="cancelAccountRecovery" class="button">Cancel</button>
        </div>
    </form>
</div>
