{{#if failedValidators}}
<div class="tooltip">
    <h4 class="heading heading--4">Password Requirements:</h4>
    <div class="requirements">
      {{#each satisfiedValidators}}
          <div class="requirement"><img
                  class="requirement__icon"
                  src="https://uilibrary.ping-eng.com/end-user/success.svg"
                  alt="Yes" /><span
                  class="requirement__name">{{this}}</span>
          </div>
      {{/each}}
      {{#each failedValidators}}
          <div class="requirement"><img
                  class="requirement__icon"
                  src="https://uilibrary.ping-eng.com/end-user/incomplete.svg"
                  alt="No" /><span
                  class="requirement__name">{{this}}</span></div>
      {{/each}}
    </div>
</div>
{{/if}}
