<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="https://uilibrary.ping-eng.com/end-user/ping-logo.svg" alt="Company Logo" /></div>
  <h1 class="heading">Reset Your Password</h1>
  {{> errors}}
  <form class="form" id="AuthnWidgetForm">
    <div class="float-label">
      <input type="password" class="text-input float-label__input text-input--success" name="newPassword"
        placeholder="New âˆPassword" value="eightPassword" required />
      <label class="float-label__label" for="newPassword">New Password</label>
      <div class="tooltip">
        <h4 class="heading heading--4">Minimum Password Requirements:</h4>
        <div class="requirements">
          <div class="requirement">
            <img class="requirement__icon" src="https://uilibrary.ping-eng.com/end-user/success.svg" alt="Yes" />
            <span class="requirement__name">8 characters</span>
          </div>
          <div class="requirement">
            <img class="requirement__icon" src="https://uilibrary.ping-eng.com/end-user/incomplete.svg" alt="No" />
            <span class="requirement__name">At least 1 special character</span>
          </div>
          <div class="requirement">
            <img class="requirement__icon" src="https://uilibrary.ping-eng.com/end-user/success.svg" alt="Yes" />
            <span class="requirement__name">1 UPPERCASE Character</span>
          </div>
          <div class="requirement">
            <img class="requirement__icon" src="https://uilibrary.ping-eng.com/end-user/incomplete.svg" alt="No" />
            <span class="requirement__name">1 number (0-9)</span>
          </div>
        </div>
      </div>
    </div>
    <div class="button-set">
      <button data-actionId="checkPasswordReset" class="button button--primary brand-primary-bg">Reset</button>
      <button data-actionId="cancelAccountRecovery" class="button">Cancel</button>
    </div>
  </form>
</div>
