<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">Reset Your Password</h1>
  {{> errors}}
  <form class="form" id="AuthnWidgetForm">
    <div class="float-label">
        <div class="float-label">
            <input type="password" id="newpassword" class="text-input float-label__input" name="newPassword"
                   placeholder="Enter New Password" autofocus />
            <label class="float-label__label" for="newpassword">Enter New Password</label>
        </div>
        <div class="float-label">
            <input type="password" id="verifypassword" class="text-input float-label__input" name="verifyPassword"
                   placeholder="Verify New Password" />
            <label class="float-label__label" for="verifypassword">Verify New Password</label>
        </div>
    </div>
    <div class="button-set">
      <button id="submit" type="submit" data-actionId="checkPasswordReset" class="button button--primary brand-primary-bg" disabled>Reset</button>
      <button data-actionId="cancelAccountRecovery" class="button">Cancel</button>
    </div>
  </form>
</div>
