{{#if failedValidators}}
<div class="tooltip">
    <h4 class="heading heading--4">Password Requirements:</h4>
    <div class="requirements">
      {{#if satisfiedValidators}}
      {{#each satisfiedValidators}}
          <div class="requirement"><img
                  class="requirement__icon"
                  src="https://assets.pingone.com/ux/end-user/0.13.0/icons/success.svg"
                  alt="Yes" /><span
                  class="requirement__name">{{this}}</span>
          </div>
      {{/each}}
      {{/if}}
      {{#each failedValidators}}
          <div class="requirement"><img
                  class="requirement__icon"
                  src="https://assets.pingone.com/ux/end-user/0.13.0/icons/incomplete.svg"
                  alt="No" /><span
                  class="requirement__name">{{this}}</span></div>
      {{/each}}
    </div>
</div>
{{/if}}
