<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  {{> device_selection_header headerStart='Authentication timed out on '}}
  {{> errors}}
  <div class="text-block">
    <div class="text-block__text">
      <a id="changeDevice">Change device</a>
    </div>
  </div>
  <form class="form form--margin-small" id="AuthnWidgetForm">
    <button data-actionId="cancelAuthentication" class="button">Cancel</button>
  </form>
</div>