<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">Push Notification Timed Out</h1>
  {{> errors}}
  <div id="device-selection" style="display: none">
    <div class="tile-selector tile-selector--stacked">
      {{> device_selection}}
    </div>
  </div>
  <form class="form form--margin-small" id="AuthnWidgetForm">
    <button data-mfa="cancelAuthentication" class="button">Cancel</button>
  </form>
</div>