<div class="card">
  {{> back_button}}
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  {{> errors}}
  {{> spinner}}
  <div class="icon-feedback icon-feedback--success">
    <p class="icon-feedback__label">Authenticating</p>
  </div>
  {{> device_selection_body bodyText='Request sent to:'}}
</div>
