<div class="card">
  {{> back_button}}
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  {{> errors}}
  {{> spinner}}
  <h1 class="heading">Authenticating</h1>
  {{> device_selection_body bodyText='Request sent to:'}}
</div>
