<div class="card">
  <div class="org-logo">
    <div class="org-logo__image" style="background-image: url('{{logo}}');" alt="Company Logo"></div>
  </div>
  <h1 class="heading">Recovery Code Required</h1>
  {{> errors}}
  {{> spinner}}
  <div class="text-block">
    <div class="text-block__text">
      The user has selected to perform account recovery and a security code is required.
    </div>
  </div>
  <form class="form form--margin-small" id="AuthnWidgetForm">
    <div class="float-label">
      <input type="text" class="text-input float-label__input" name="recoveryCode" placeholder="Email Address" autofocus />
      <label class="float-label__label" for="recoveryCode">Recovery Code</label>
    </div>
    <div class="button-set">
      <button id="submit" type="submit" data-actionid="checkRecoveryCode" class="button button--primary brand-primary-bg" disabled>
        Check Recovery Code
      </button>
      <button data-actionId="cancelAccountRecovery" class="button">Cancel</button>
    </div>
  </form>
</div>
