<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  {{> errors}}
  {{> spinner}}
  <form class="form" id="AuthnWidgetForm">
    {{#if authFailed}}
    <div class="feedback feedback--error" data-id="feedback">
      <span class="feedback__icon pingicon-error-triangle"></span>
      <div class="feedback__message" id="errorMessage">
        Login Failed. '{{remainingTries}}' attempt(s) remaining.
      </div>
    </div>
    {{/if}}
    {{#if resetFailed}}
    <div class="feedback feedback--error" data-id="feedback">
      <span class="feedback__icon pingicon-error-triangle"></span>
      <div class="feedback__message">
        PIN reset operation failed due to policy validation. Please try again.
      </div>
    </div>
    {{/if}}
    <div class="float-label">
      <input type="text" class="text-input float-label__input required" id="username" name="username" placeholder="Username"
        value="{{username}}" {{readonlyhelper allowUsernameEdits}} />
      <label class="float-label__label" for="username">Username</label>
    </div>
    <div class="float-label">
      <input type="password" class="text-input float-label__input required" id="passcode" name="passcode"
        placeholder="Passcode" />
      <label class="float-label__label" for="passcode">Passcode</label>
    </div>
    <button id="submit" data-actionid="checkCredential" type="submit" class="button button--primary brand-primary-bg" disabled>
      Submit
    </button>
    <div class="text-block">
      <div class="text-block--overflow-wrap">
        <a tabindex="0" data-actionId="cancel" target="_self" class="anchor">Cancel</a>
      </div>
    </div>
  </form>
</div>