<div class="card">
  <div class="step-link step-link--back" style="margin: 0; text-align: left;">
    <div style="margin: 0; text-align: left;">
      <button id="useAlternateMethod" type="submit" class="button back-button" style="display: none;">
      <span class="pingicon-left"></span>
      </button>
    </div>
  </div>  
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>

  <form class="form" id="AuthnWidgetForm">
    {{> errors}}
    {{#if authFailed}}
    <div class="feedback feedback--error" data-id="feedback">
      <span class="feedback__icon pingicon-error-triangle"></span>
      <div class="feedback__message" id="errorMessage">
        Login Failed. 
        {{#if remainingTries}}
          '{{remainingTries}}' attempt(s) remaining.
        {{/if}}
        {{#if additionalErrorInfo}}
          Reason: '{{additionalErrorInfo}}'
        {{/if}}        
      </div>
    </div>
    {{/if}}
    {{#if resetFailed}}
    <div class="feedback feedback--error" data-id="feedback">
      <span class="feedback__icon pingicon-error-triangle"></span>
      <div class="feedback__message">
        PIN reset operation failed due to policy validation. Please try again.
      </div>
    </div>
    {{/if}}
    
    <div class="text-block" data-id="textblock">
      <div class="text-block--overflow-wrap">
        Enter the RSA SecurID token
      </div>
    </div>
    <div class="float-label">
      <input type="password" class="text-input float-label__input required" id="tokencode" name="tokencode"
        placeholder="Tokencode" />
      <label class="float-label__label" for="tokencode">Token</label>
    </div>
    <button id="submit" data-actionid="checkTokencode" type="submit" class="button button--primary brand-primary-bg" disabled>
      Submit
    </button>
    <div class="text-block">
      <div class="text-block--overflow-wrap">
        <a tabindex="0" data-actionId="cancel" target="_self" class="anchor">Cancel</a>
      </div>
    </div>
  </form>
</div>