<style>
  .phone-input-wrapper {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }

  .dropdown-container {
    position: relative;
    width: 30%;
  }

  .dropdown-list {
    display: none;
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    background-color: white;
    z-index: 1000;
    width: 100%;
  }

  .dropdown-item {
    padding: 8px;
    cursor: pointer;
    font-size: 15px;
  }

  .dropdown-item:hover {
    background: #2996cc;
    color: #fff;
  }

  .dropdown-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .dropdown-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .dropdown-arrow {
    font-family: iconfont;
    font-size: 13px;
    line-height: 13px;
    position: absolute;
    right: 8px;
    top: 18px;
    height: 16px;
    width: 16px;
    pointer-events: auto; /* Allow clicks */
    cursor: pointer;
  }

  .dropdown-input {
    width: 100%;
    padding: 16px 10px;
    border: 1px solid #8b9197;
    background-color: #fff !important;
  }

  .phone-input {
    background-color: #fff !important;
  }

  .expanded-dropdown {
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
</style>
<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  {{> errors}}
  <h1 class="heading-text centered-text icon-heading">
    <svg viewBox="0 0 24 24" role="presentation">
      <path d="M20,2A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H6L2,22V4C2,2.89 2.9,2 4,2H20M4,4V17.17L5.17,16H20V4H4M6,7H18V9H6V7M6,11H15V13H6V11Z"></path>
    </svg><span class="inline-icon">Text Message</span></h1>
  <div class="text-block">
    <div class="text-block--overflow-wrap">Enter the mobile number you would like to receive authentication codes
      with.
    </div>
  </div>
  <div class="tile-selector tile-selector--stacked">
    <form class="form" id="AuthnWidgetForm">
      <div class="stack stack--small" data-id="stack">
        <div class="phone-input-wrapper">
          <div class="dropdown-container">
            <div class="dropdown-input-container">
              <input type="text" id="countryCodeInput" name="countryCodeInput" class="dropdown-input" value="+1"
                     readonly placeholder="Select country">
              <div id="dropdownArrow" class="dropdown-arrow">v</div>
            </div>
            <div id="dropdownList" class="dropdown-list expanded-dropdown"></div>
          </div>
          <div class="text-input__icon">
            <input id="phone" type="tel" name="phone" class="text-input text-input required" value=""/>
          </div>
        </div>
      </div>
      <div class="text-block" data-id="textblock">
        <div class="text-block--overflow-wrap">
          <div class="stack" data-id="stack">
            <div>
              <button id="submit" data-actionId="submitSmsTarget" type="submit"
                      class="button button--primary brand-primary-bg">
                Next
              </button>
            </div>
            <a tabindex="0" data-actionId="cancelDevicePairing" target="_self" class="anchor">Cancel</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>