<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="https://uilibrary.ping-eng.com/end-user/ping-logo.svg" alt="Company Logo" />
  </div>
  <h1 class="heading">Successful Account Unlock</h1>
  <div class="text-block">
    <div class="text-block__text">Successful Account Unlock</div>
  </div>
  <form class="form form--margin-small" id="AuthnWidgetForm">
    <div class="button-set">
      <button data-actionId="continueAuthentication" class="button">Continue Authentication</button>
      <button data-actionId="continueAccountRecovery" class="button">Continue Account Recovery</button>
    </div>
  </form>
</div>
