<div class="card">
  <div class="org-logo">
        <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">Successful Account Unlock</h1>
  <div class="text-block">
    <div class="text-block__text">Successful Account Unlock</div>
  </div>
  <form class="form form--margin-small" id="AuthnWidgetForm">
    <div class="button-set">
     {{#with _links as |actions|}}
     {{#if continueAuthentication}}
      <button data-actionId="continueAuthentication" class="button">Continue Authentication</button>
     {{/if}}
     {{#if continueAccountRecovery}}
      <button data-actionId="continueAccountRecovery" class="button">Continue Account Recovery</button>
     {{/if}}
     {{/with}}
    </div>
  </form>
</div>
