<div class="card">
    <div class="org-logo">
        <img class="org-logo__image" src="ping-logo.svg" alt="Company Logo"/>
    </div>
    <h1 class="heading">Successful Password Change</h1>
    <div class="text-block">
        <div class="text-block__text">Successful Password Change.</div>
    </div>
    <form class="form form--margin-small" id="AuthnWidgetForm">
        <button data-actionId="continueAuthentication" class="button">Continue</button>
    </form>
</div>
