<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  {{> errors}}
  <form class="form" id="AuthnWidgetForm">
    <div class="float-label">
      <input type="text" class="text-input float-label__input" id="username" name="username" placeholder="Username" value="{{username}}" />
      <label class="float-label__label" for="username">Username</label>
    </div>
    <div class="float-label">
      <input type="password" class="text-input float-label__input"  id="password" name="password" placeholder="Password" />
      <label class="float-label__label" for="password">Password</label>
    </div>
    {{#if showRememberMyUsername}}
    <div>
      <label class="checkbox">
        <input type="checkbox" class="checkbox__input" name="rememberMyUsername"
          {{checkedIf rememberMyUsernameSelected}} value="true" />
        <span class="checkbox__standin"></span>
        <span class="checkbox__label">Remember me</span>
      </label>
    </div>
    {{/if}}
    {{#if showThisIsMyDevice}}
    <div>
      <label class="checkbox">
        <input type="checkbox" class="checkbox__input" name="thisIsMyDevice" {{checkedIf thisIsMyDeviceSelected}} value="true" />
        <span class="checkbox__standin"></span>
        <span class="checkbox__label">This is my Device</span>
      </label>
    </div>
    {{/if}}
    {{#with _links as |actions|}}
    {{#if initiateAccountRecovery}}
    <div class="text-block text-block--small">
      <a href="#" data-actionid="initiateAccountRecovery">Recover Account?</a>
    </div>
    {{/if}}
    {{#if initiatePasswordChange}}
    <div class="text-block text-block--small">
      <a href="#" data-actionid="initiatePasswordChange">Change Password?</a>
    </div>
    {{/if}}
    {{#if recoverUsername}}
    <div class="text-block text-block--small">
      <a href="#" data-actionid="recoverUsername">Recover Username?</a>
    </div>
    {{/if}}
    {{#if checkUsernamePassword}}
    <button id="submit" data-actionid="checkUsernamePassword" type="submit" class="button button--primary brand-primary-bg" disabled>
      Sign On
    </button>
    {{/if}}
    {{/with}}
  </form>
</div>
