<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">Username Recovery</h1>
  <div class="text-block">
    <div class="text-block__text">Enter your email address to receive an email with your username.</div>
  </div>
  {{> errors}}
  {{> spinner}}
  <form class="form form--margin-small" id="AuthnWidgetForm">
    {{#if showCaptcha}}
    <div class="g-recaptcha" data-sitekey="{{captchaSiteKey}}" data-callback="{{checkRecaptcha}}" data-size="invisible"
      id="invisibleRecaptchaId">
    </div>
    {{/if}}
    <div class="float-label">
      <input type="email" class="text-input float-label__input" name="email" placeholder="Email Address" autofocus />
      <label class="float-label__label" for="email">Email Address</label>
    </div>
    <div class="button-set">
      <button id="submit" type="submit" data-actionid="checkUsernameRecoveryEmail"
        class="button button--primary brand-primary-bg" disabled>
        Send Request
      </button>
      <button data-actionId="cancelUsernameRecovery" class="button">Cancel</button>
    </div>
  </form>
</div>