<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="ping-logo.svg" alt="Company Logo"/>
  </div>
  {{> errors}}
  <form class="form" id="AuthnWidgetForm">
    <div class="float-label">
      <input type="text"
             class="text-input float-label__input"
             name="username"
             placeholder="Username"/><label
      class="float-label__label"
      for="username6">Username</label></div>
    <div class="float-label">
      <input type="password"
             class="text-input float-label__input"
             name="password"
             placeholder="Password"/><label
      class="float-label__label"
      for="password2">Password</label></div>
    {{#if showRememberMyUsername}}
      <div><label class="checkbox">
        <input type="checkbox"
               class="checkbox__input"
               name="rememberMyUsername"
          {{checkedIf rememberMyUsernameSelected}}/><span
        class="checkbox__standin"></span><span
        class="checkbox__label">Remember me</span></label></div>
    {{/if}}
    {{#if showThisIsMyDevice}}
      <div><label class="checkbox">
        <input type="checkbox"
               class="checkbox__input"
               name="thisIsMyDevice"
          {{checkedIf thisIsMyDeviceSelected}}/><span
        class="checkbox__standin"></span><span
        class="checkbox__label">This is my Device</span></label></div>
    {{/if}}
    {{#with _links as |actions|}}
    {{#if initiateAccountRecovery}}
      <div class="text-block text-block--small">
         <a href="#" data-actionid="initiateAccountRecovery">Trouble Signing On Account Recovery?</a>
      </div>
    {{/if}}
    {{#if initiatePasswordChange}}
      <div class="text-block text-block--small">
        <a href="#" data-actionid="initiatePasswordChange">Trouble Signing On Password Change?</a>
      </div>
    {{/if}}
    {{#if recoverUsername}}
      <div class="text-block text-block--small">
        <a href="#" data-actionid="recoverUsername">Trouble Signing On recover UserName?</a>
      </div>
    {{/if}}

    {{#if checkUsernamePassword}}
    <button id="authn-widget-submit" data-actionid="checkUsernamePassword"
            class="button button--primary brand-primary-bg">
            Sign On
    </button>
    {{/if}}
    {{/with}}
  </form>
</div>
