<div class="card">
  <div class="org-logo"><img class="org-logo__image"
                             src="ping-logo.svg" alt="Company Logo"/></div>
  <form class="form">
    <div class="float-label">
      <input type="text"
             class="text-input float-label__input"
             id="username6" name="username6"
             placeholder="Username"/><label
      class="float-label__label"
      for="username6">Username</label></div>
    <div class="float-label">
      <input type="password"
             class="text-input float-label__input"
             id="password2" name="password2"
             placeholder="Password"/><label
      class="float-label__label"
      for="password2">Password</label></div>
    {{#if showRememberMyUsername}}
      <div><label class="checkbox">
        <input type="checkbox"
               class="checkbox__input"
          {{checkedIf rememberMyUsernameSelected}}/><span
        class="checkbox__standin"></span><span
        class="checkbox__label">Remember me</span></label></div>
    {{/if}}
    {{#if showThisIsMyDevice}}
      <div><label class="checkbox">
        <input type="checkbox"
               class="checkbox__input"
          {{checkedIf thisIsMyDeviceSelected}}/><span
        class="checkbox__standin"></span><span
        class="checkbox__label">This is my Device</span></label></div>
    {{/if}}
    <button id="authn-widget-submit"
      class="button button--primary brand-primary-bg">Sign On
    </button>
  </form>
</div>
