// update these variables to brand the module

$card-background: white;
$text-color: #595959;
$logo: 'https://assets.pingone.com/ux/end-user/0.9.6/ping-logo.svg';
$link-color: #277ba5;
$primary-button-color: #277ba5;
$primary-button-text: white;
$primary-button-border: #277ba5;
$secondary-button-color: white;
$secondary-button-text: #595959;
$secondary-button-border: #595959;
$error-color: #a31300;

// don't touch this scss
a {
    color: $link-color;
    &:hover {
        color: rgba($link-color, 0.8);
    }
}

.card {
    background: $card-background;
    color: $text-color;
}

.button {
    background: $secondary-button-color;
    border-color: $secondary-button-border;
    color: $secondary-button-text;
    &:hover {
        background: rgba($secondary-button-color, 0.8);
        border-color: rgba($secondary-button-border, 0.8);
        color: $secondary-button-text;
    }
}

.button--primary {
    background: $primary-button-color;
    border-color: $primary-button-border;
    color: $primary-button-text;
    &:hover {
        background: rgba($primary-button-color, 0.8);
        border-color: rgba($primary-button-border, 0.8);
        color: $primary-button-text;
    }
}

.feedback,.normal-text,.text-block,.tooltip,.heading,.heading-text,.checkbox,.icon-feedback,.page__footer,.page__footer.brand-footer-color {
    color: $text-color;
}
.feedback--error {
    color: $error-color;
}

// Place any custom css classes here
